.menu {
    height: 128px;
    margin: 0 auto;
    margin-top: 34px;
    // background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-radius: 100px;
    background: transparent linear-gradient(120deg, #FFFFFF 0%, #E6FDEE 100%) 0% 0% no-repeat padding-box;
    border-radius: 64px;
    opacity: 1;

    .left {
        background-image: url('/assets/image/home/Asset\ 12.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 435px;
        height: 170px;
    }

    .right {
        display: flex;
        align-items: center;

        .menu_item {
            margin: 20px;
            font-size: 30px;
            font-family: Montserrat-Extra-Bold;
            color: #65361c;
            cursor: pointer;
        }

        .wallet {
            border-radius: 50px;
            background-color: #99705D;
            padding: 10px 20px;
            color: white;
            text-align: center;
        }
    }
}

@media only screen and (max-width:1078px) {
    .menu {
        height: 80px;
    }

    .menu .left {
        width: 200px;
        height: 130px;
    }
}